/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 20, 2018, 10:35:28 PM
    Author     : Jerry
*/
main{
    height: 400px;
}
h3{
    text-align: center;
    padding: 50px;
}
